html {
  background-color: #5138BE;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.tags {
  padding: 20px 30px;
  font-family: 'Arial Rounded MT Bold';
  font-size: 50px;
  font-weight: bolder;
  color: black;
}
.title {
	font-family: 'Finger Paint';
	font-size: 50px;
	color: yellow;
  /* background-color: #e63946;
  border: tomato; */
  border-radius: 25px;
}
.results {
  font-family: 'Finger Paint';
  color: black;
}
.filter {
  background-color:  red;
  color: black;
  border: red;
  border-radius: 25px;
  font-weight: bold;
  font-family: 'Finger Paint';
}
.pokeType {
  font-family: 'Arial Rounded MT Bold';
  color: yellow;
}
.pokeAbilities {
  font-family: 'Arial Rounded MT Bold';
  font-weight: lighter;
}
.pokeName {
  font-family: 'Finger Paint';
}
.pokeMoves {
  font-family: 'Finger Paint'
}
.pokedex {
  font-family: 'Finger Paint';
}
